/* style.css */
:root
{
    --color1: #f1e9da;
    --color2: #c58255;
    --color3: #541388;
}
*
{
    box-sizing: border-Kbox;
}
body
{
    background-color: #e4e4e4;
    padding: 5px;
    height: 100vh;
    margin: 0;

    font: 500 100% system-ui, sans-serif;
}
.page-wrap
{
    background-color: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);

    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 5fr);
    grid-template-rows: min-content 1fr min-content;
    gap: 1px;
}

.page-wrap > *
{
    padding: 1rem;
    text-align: center;
}

.page-header
{
    grid-column: 1 / -1;
    background-color: var(--color2)
}
.page-header h1
{
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.33);
}

.add-book-section
{
    background-color: #53138865;
    display: flex;
    flex-direction: column;
}
.add-book-section button
{
    padding: 1rem 2rem;
    font-size: 1.125rem;
    border-radius: 500px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
    background-color: var(--color3);
    color: white;
}
.add-book-section button:hover
{
    cursor: pointer;
    filter:brightness(120%);
}
.add-book-section button:active
{
    filter: brightness(80%);
    box-shadow: none;
}
.add-book-section .form-popup
{
    display: none;
}
.add-book-section .form-popup .form-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}
.add-book-section input
{
    border-radius: 500px;
    border: none;
    width: 80%;
    padding: 0.5rem;
}

.library-content
{
    background-color: var(--color1);
    overflow-y: scroll;
}

.books
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}
.books .card
{
    display: flex;
    flex-direction: column;
    background-color: #13883638;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    padding: 1rem;
}
.books .card .pages
{
    font-size: 0.8rem;
}
.books .card button
{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}
.books .card button:hover
{
    cursor: pointer;
    filter: brightness(120%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
}
.books .card button:active
{
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.33);
}
.books .card .remove
{
    width: min-content;
    align-self: flex-end;
}

.page-footer
{
    background-color: var(--color2);
    grid-column: 1 / -1;
}
.page-footer p
{
    color: white;
    font-size: 0.8rem;
}